# Development requirements - all projects need these.
# Note: for `-r` option the path should be relative to this file.
-r ../../dev-requirements.txt

# Third party deps

## Dev deps
pytest-asyncio
pytest-freezegun
pytest-mock

## DB management deps
alembic

## App deps
fastapi[all]
sqlalchemy
psycopg
prefect
python-slugify
PyYAML
# Stubs :(
types-PyYAML
sentry-sdk[fastapi]

## Pipeline deps
apify-client
pandas
pandas-stubs
pandera
pyarrow
google-cloud-bigquery
pandas-gbq
sqlalchemy-bigquery

## Hidden requirement for pandera
hypothesis
